# Server Port
PORT=5000
NODE_ENV=development

# ==============================================================================
# SUPABASE / POSTGRESQL CONFIGURATION
# ==============================================================================
# Supabase Database URI (Replace [YOUR-PASSWORD] with your actual Supabase DB password)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.nqmptcvfloejromioqog.supabase.co:5432/postgres

# Supabase API Credentials
SUPABASE_URL=https://nqmptcvfloejromioqog.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xbXB0Y3ZmbG9lanJvbWlvcW9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1OTEyNDIsImV4cCI6MjEwMzE2NzI0Mn0.wm7kLBD1oURG1_jgHsJwJJFlaol4ucxc4VqXcVCB4To
